.hs-responsive-embed-youtube iframe {
    position: absolute;
    width: 100%!important;
    height: 100%!important;
}

.hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    padding-top: 25px;
}

img {
    width: 100%;
}

h2 {
    font-family: serif;
    font-size: 20px;
}

p {
    font-family: open sans;
    font-size: 14px;
}

li {
    font-family: open sans;
    font-size: 14px;
}
